development:
  adapter: postgresql
  database: nshvll_development
  username:
  password:

test:
  adapter: postgresql
  database: nshvll_test
  username:
  password:

production:
  adapter: postgresql
  database: nshvll_production
  username:
  password:
