<div class="category_select_container">
  <p class="category_select_label">Show me</p>
  <select name="category" id="category_select">
    <option value="all">All Members</option>
    <%- @categories.each do |category| -%>
      <option value="<%= category.slug %>" <%= "selected='selected'" if @category === category %>><%= category.name.pluralize %></option>
    <%- end -%>
  </select>
</div><!-- category_select_container -->

<p class="edit_listing">
  <%= link_to 'Edit Your Listing &rarr;', member_generate_edit_path %>
</p>

<div class="clear"></div>
