<%- if !@members.next_page.blank? -%>
  <p class="more">
    <%= link_to 'Show Me More', 
                @category.blank? ? root_path(:page => @members.next_page) : category_path(:slug => @category.slug, :page => @members.next_page) %>
  </p>
<%- end -%>