<h2 class="category_title" style="display:none;"><%= @category.name.pluralize %></h2>

<%= render :partial => 'category_select' %>

<div id="members">
  <%= render :partial => 'members' %>
</div><!-- members -->

<div class="clear"></div>

<div id="pagination">
  <%= render :partial => 'pagination' %>
</div><!-- pagination -->